@import url('https://fonts.googleapis.com/css?family=Montserrat Alternates:100,200,300,400,500,600,700|Montserrat:100,200,300,400,500,600,700');

/*----------------------------------- General rules */

body {
    font-family: "Montserrat", sans-serif; 
    background: url("../images/background-index.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*----------------------------------- Bs navbar */

header {
    position: fixed;
    width: 100%;
    z-index: +1;
}

.navbar {
    background: rgb(92, 92, 92);
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 20px;
    padding: 0;
    font-weight: 500;
}

.navbar-brand {
    font-size: 30px;
    margin-left: 15px;
    background: url("../images/background-index.jpg") no-repeat center center fixed;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.navbar-nav {
    margin: auto 15px auto auto;
    background: url("../images/background-index.jpg") no-repeat center center fixed;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

/*----------------------------------- Instructions button */

#instructions {
    float: right;
    display: flex;
    padding: 10px;
    margin-top: 100px;
    margin-right: 30px;
    border-radius: .3rem;
    background-color: rgb(92, 92, 92);
    color: #fff;
}

/*----------------------------------- Modal instructions */

.modal{ 
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    margin: 150px auto;
    padding: 10px;
    border: 1px solid rgb(92, 92, 92);
    width: 90%; 
}

.modal-header {
    font-family: "Montserrat Alternates", sans-serif; 
}

.close{
    font-size: 30px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 