@import url('https://fonts.googleapis.com/css?family=Montserrat Alternates:100,200,300,400,500,600,700|Montserrat:100,200,300,400,500,600,700');

/*----------------------------------- General rules */

body {
    font-family: "Montserrat", sans-serif; 
    text-align: center;
    background: url("../images/background-index.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat Alternates", sans-serif;
    padding: 20px;
}

.row {
    margin: 0;
}

.hide {
    display: none;
}

.btn {
    margin: 10px;
    padding: 15px 45px;
    color: #fff;
    border-radius: .3em;
    cursor: pointer;
    border: 1px solid #000;
    box-shadow: 0 0 10px 2px;
}

/*----------------------------------- Bs navbar */

header {
    position: fixed;
    width: 100%;
    z-index: +1;
}

.navbar {
    background: rgb(92, 92, 92);
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 20px;
    padding: 0;
    font-weight: 500;
    box-shadow: 0 0 10px 2px;
}

.navbar-brand {
    font-size: 30px;
    margin-left: 15px;
    background: url("../images/background-index.jpg") no-repeat center center fixed;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.nav-item {
    margin: auto 15px auto auto;
    background: url("../images/background-index.jpg") no-repeat center center fixed;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

/*----------------------------------- Instructions button */

#instructions {
    display: flex;
    padding: 10px;
    margin-top: 80px;
    border-radius: .3rem;
    background-color: rgb(92, 92, 92);
    color: #fff;
    box-shadow: 0 0 10px 2px;
}

/*----------------------------------- Modal instructions */

.modal{ 
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    text-align: left;
    margin: 150px auto;
    padding: 10px;
    border: 1px solid rgb(92, 92, 92);
    width: 90%; 
}

.modal-header {
    font-family: "Montserrat Alternates", sans-serif; 
    padding: 0;
}

.close{
    font-size: 30px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 

/*----------------------------------- Main screen */

.custom-box {
    color: #fff;
    background-color: rgb(92, 92, 92);
    width: 800px;
    max-width: 95%;
    min-height: 300px;
    margin-top: 30px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    animation: fadeInRight 1s ease;
} 

@keyframes fadeInRight {
    0% {
        transform: translateX(40px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.title {
    background: url("../images/background-index.jpg") no-repeat center center fixed;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.start-btn {
    margin-top: 30px;
}

/*----------------------------------- questions section */

.question-number {
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    line-height: 25px;
    background: url("../images/background-index.jpg") no-repeat center center;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.question-audio {
    margin: 20px;
    width: 80%;
}

.option {
    background-color: #fff;
    color: #000;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
    position: relative;
    overflow: hidden;
}

.option.correct::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: green;
    z-index: -1;
    animation: slideInLeft .5s ease forwards;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.option.correct, .option.wrong {
    color: #fff;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.option.wrong::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: red;
    z-index: -1;
    animation: slideInLeft .5s ease forwards;
}

.option.already-answered {
    pointer-events: none;
}

.answers-indicator {
    border-top: 1px solid #000;
}

.answers-indicator div{
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 3px;
    margin-top: 15px;
}

.answers-indicator div.correct {
    background-color: green;
}

.answers-indicator div.wrong {
    background-color: red;
}

/*----------------------------------- Results section */

.results-box table {
    width: 100%;
    border-collapse: collapse;
    margin: 30px 0;
}

.results-box table td {
    border: 1px solid #000;
    padding: 8px 15px;
    width: 50%;
    text-align: left;
}

/*----------------------------------- Contact page */

.form-box {
    color: #fff;
    background-color: rgb(92, 92, 92);
    width: 800px;
    max-width: 95%;
    min-height: 300px;
    margin-top: 160px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    animation: fadeInRight 1s ease;
}

.form-control {
    margin: 10px auto;
}

.email-box, .error-box {
    position: relative;
    margin-top: 160px;
    color: #fff;
} 

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*----------------------------------- Footer */

.copyright{
    color: #fff;
    padding: 30px 30px 5px;
}

.fab {
    font-size: 40px;
    color: #fff;
    padding: 5px;
}

.fab:hover {
    color: rgb(92, 92, 92);
    transition: all .2s ease-in-out;
}

/*----------------------------------- Responsiveness on different screen sizes */

@media screen and (max-width: 540px) {

    .form-box {
        margin-top: 30%;
    }

}

@media screen and (min-width: 720px) and (max-width: 960px) {
    .form-box {
        margin-top: 200px;
    }

    .custom-box {
        margin-top: 70px;
    }

    #instructions {
        margin-top: 120px;
    }
}

@media screen and (min-width: 960px) and (max-width: 1140px) {
    .form-box {
        margin-top: 230px;
    }

    .custom-box {
        margin-top: 100px;
    }

    #instructions {
        margin-top: 150px;
    }
}